@model ListPerfumeViewModel
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) {<text>disabled</text>}">
            <a class="page-link" asp-controller="Perfumes" asp-action="Women" asp-route-id="@Model.PreviousPage">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">@Model.Page</a>
        </li>
        <li class="page-item @if (!Model.HasMenNextPage) {<text>disabled</text>}">
            <a class="page-link" asp-controller="Perfumes" asp-action="Women" asp-route-id="@Model.NextPage">Next</a>
        </li>
    </ul>

    <br />
    <br />
