@{
    this.ViewData["Title"] = "Successfully purchase";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Orders/finish.css" asp-append-version="true" />
}
<div class="text-center">
    <br />
    <h1 class="text-success">Successfully purchase</h1>
    <br />
    <a class="btn btn-info mr-5 align-bottom" asp-action="Index" asp-controller="Home" asp-route-id="1">Home</a>
</div>